build/
install/
log/
.vscode/
__pycache__/
*.pyc
.DS_Store
*.swp

# Retained/Retired archives
retired/
px4/

# Data and large scripts
*.bson
dataman
Miniconda3-latest-Linux-x86_64.sh
