<?xml version="1.0"?>
<model>
  <name>aerostack_drone</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>ratan</name>
    <email>ratan@todo.todo</email>
  </author>
  <description>
    AeroStack-RL Research UAV (X-Quad configuration) with Lidar and Vision.
  </description>
</model>
